---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="w-full p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-8 dark:bg-gray-800 dark:border-gray-700 mb-8">
        <h5 class="mb-2 text-3xl font-bold text-gray-900 dark:text-white mb-5 flex items-center space-x-2 rtl:space-x-reverse">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"/>
            </svg>
            <span>Skills</span>
        </h5>
        <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 mb-8">
            <div class="p-4 bg-blue-500 text-white rounded-lg shadow-md">
                <h6 class="text-lg font-bold">.NET (Framework/Core)</h6>
                <p>Experiencia en la construcción de aplicaciones robustas utilizando tecnologías .NET.</p>
            </div>
            <div class="p-4 bg-green-500 text-white rounded-lg shadow-md">
                <h6 class="text-lg font-bold">SQL</h6>
                <p>Competente en MSSQL, MySQL y PostgreSQL para la gestión de bases de datos.</p>
            </div>
            <div class="p-4 bg-red-500 text-white rounded-lg shadow-md">
                <h6 class="text-lg font-bold">Angular</h6>
                <p>Experto en el desarrollo de aplicaciones web dinámicas utilizando Angular.</p>
            </div>
            <div class="p-4 bg-yellow-500 text-white rounded-lg shadow-md">
                <h6 class="text-lg font-bold">GIT</h6>
                <p>Experiencia en control de versiones con GitHub y Bitbucket.</p>
            </div>
            <div class="p-4 bg-purple-500 text-white rounded-lg shadow-md">
                <h6 class="text-lg font-bold">Laravel</h6>
                <p>Experiencia en la construcción de aplicaciones web escalables con Laravel.</p>
            </div>
            <div class="p-4 bg-pink-500 text-white rounded-lg shadow-md">
                <h6 class="text-lg font-bold">JavaScript/TypeScript</h6>
                <p>Competente en JavaScript moderno y TypeScript para desarrollo web.</p>
            </div>
        </div>
    </div>
</Layout>