---                               

import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import '../styles/global.css'
---   



<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Diego Cáceres's Portfolio</title>
		    
		
	</head>
	<body class="bg-gray-50 dark:bg-gray-900 scrollbar scrollbar-w-3 scrollbar-thumb-rounded-[0.25rem] scrollbar-track-slate-200 scrollbar-thumb-gray-400 dark:scrollbar-track-gray-900 dark:scrollbar-thumb-gray-700">
		<Header />

		<div class="p-4 sm:ml-64">
			<slot />
			<Footer />
		</div>
		
	</body>
	
<script>
	import 'flowbite';
</script>
</html>
